<a href="https://colab.research.google.com/github/devshub21/Heart-disease-prediction-using-ML/blob/main/SMO_For_Heart_disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("heart_statlog_cleveland_hungary_final.csv")
data.head()

   age  sex  chest pain type  ...  oldpeak  ST slope  target
0   40    1                2  ...      0.0         1       0
1   49    0                3  ...      1.0         2       1
2   37    1                2  ...      0.0         1       0
3   48    0                4  ...      1.5         2       1
4   54    1                3  ...      0.0         1       0

[5 rows x 12 columns]

In [11]:
x = data.iloc[:,0:11].values
y = data.iloc[:,-1].values

In [15]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
print("Training Set size : ")
print(x_train.shape)
print("Testing size :")
print(x_test.shape)

Training Set size :
(833, 11)
Testing size :
(357, 11)

In [23]:
from sklearn import svm
#model = SVM(max_iter=10000, kernel_type='linear', C=1.0, #epsilon=0.001)
model = svm.SVC(kernel="linear")
model.fit(x,y)
y2_test = model.predict(x_test)